# Ignorar la carpeta del entorno virtual
venv/
.venv/

# Ignorar archivos de configuración de Pipenv
Pipfile
Pipfile.lock

# Ignorar archivos de caché y logs de Python
__pycache__/
*.pyc
*.pyo
*.log

# Ignorar archivos de salida de Spark
output/
*.parquet

# Ignorar configuración del IDE (opcional)
.vscode/
.idea/
